* {
	box-sizing: border-box;
}

#slider { 
    position: relative;
	text-align: center;
}

#slider{ 
	margin: 0 auto;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .image{
	width: 500%;
	line-height: 0;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article img{
	width: 100%;
	height: 40rem;
}

#desktop:checked ~ #slider{ 
	max-width: 960px; 
}


label, a{ 
	cursor: pointer;
}

.wrapper input{ 
	display: none;
}


#mem1:checked ~ #slides .image{
	margin-left: 0;
}

#mem2:checked ~ #slides .image{
	margin-left: -100%;
}

#mem3:checked ~ #slides .image{
	margin-left: -200%;
}

#mem4:checked ~ #slides .image{
	margin-left: -300%;
}

#controls{ 
	margin: -25% 0 0 0;
	width: 100%;
	height: 3.5rem;
}

#active label{ 
	border-radius: 10px; 
	display: inline-block; 
	width: 1rem;
	height: 1rem;
	background: #bbb;
}

#active{ 
	margin: 23% 0 0;
	text-align: right;
}

#active:hover label{ 
	background: #76c8ff;
	border-color: #777 !important; 
}


#mem1:checked ~ #active label:first-child,
#mem2:checked ~ #active label:nth-child(2),
#mem3:checked ~ #active label:nth-child(3),
#mem4:checked ~ #active label:nth-child(4){
	background: #0b191f;
	border: solid 0.3ex #18a3dd !important;
}

#slides .image{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.text-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 3em;
    border: solid 1px #000;
}

.text {
    text-align: left;
    border: solid 1px #000;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: solid 1px #000;
}

.button {
    text-align: center;
    width: 2em;
    height: 3em;
    border: solid 1px #000;
}



